<ul>
<% @tweets.each do |tweet| %>
  <li>
    <h2><%= pretty_time(tweet[:created_at]) %> - <%= tweet[:user] %></h2>
    <div><%= tweet[:sentiment][:text] %></div>
    <div><%= tweet[:sentiment][:sentiment] %></div>
    <div><%= tweet[:sentiment][:probability] %></div>
  </li>
<% end %>
</ul>
